{% extends 'base.html' %} 
{% block content %}
<div class="container">
  
    <div class="row">
      <div class="col-lg-6 video-box" style="align-self:center;">

      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
          <font color=#313a6b><br><br><h2 align="center">Professionals Login </h2><p align="center"> Enter your details to login to your account.<p><hr></font>
              <form method="post" action='../PLogin'>l
                  <div class="row1">
                      <div class="col-25">
                                <label for="email">Email ID</label>
                          </div>
                          <div class="col-75">
                                <input type="email" id="email" name="P_email" placeholder="Your email id..." required>
                          </div>
                    </div>
                  <div class="row1">
                          <div class="col-25">
                                <label for="pwd">Password</label>
                          </div>
                         <div class="col-75">
                                <input type="password" id="pwd" name="P_password" title="Enter your password" placeholder="Your password..." required size="8">
                          </div>
                  </div>
                    <div class="row" style="padding: 0px 180px 0px 180px;">
                        
                          <input type="submit" value="Submit" >
                    </div>
                    
                  <hr>
                  
                </form>

      </div>
    </div>

{% endblock %}