{% extends "sessionbase.html" %}

{% block content %}
<div class="about-page">
    <!-- Hero Section -->
    <section class="about-hero">
        <div class="hero-content">
            <h1>{{eve[1:]}}</h1>
        </div>
    </section><br>
    <div class="tiles">
        {% for i in res %}
            {% if loop.index0 % 3 == 0 %}
                <!-- Start a new row every 3 items -->
                <div class="row">
            {% endif %}

            <div class="tile">
                <a href="/details/{{ i[2] }} {{ i[0] }}" id="tilelink">
                <img src="{{ url_for('static', filename=i[1]) }}" alt="{{ i[0] }}">
                <h3>{{ i[0] }}</h3>
                </a>
            </div>

            {% if (loop.index0 + 1) % 3 == 0 or loop.last %}
                <!-- Close the row after 3 items or on the last item -->
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}